<div class="container">
	<div class="row">
		
            
            	
        <h1 class="page-header">
            Contact Team Icon
        </h1>
            
        
        <!-- /.row -->
        <div class="col-md-6">
           <p>ICON CADSOFT AND SURVEYORS (I) PVT. LTD. was started its operation in the name of “ICONCADD SERVICES” in 1996 with the objective of providing comprehensive support to the Engineering fraternity of Bangalore. The activities of the company was extended to Computer Aided Design and Drafting (CADD) services. In addition to plotting of CAD drawings, the focus of these activities being the provision of high-quality and comprehensive CAD services under one roof.</p>

        	<h2>What we do?</h2>
        	<p>We have been in land surveying business since more than a decade. The ICON team is confident of executing every land survey challenge diligently. There are many factors at ICON that will differentiate us from others in the industry
             Highly experienced professionals and consultants, Vast industry experience, Sophisticated survey instruments, Customized solutions, Timely project execution with accuracy, Ethical business practices
         	</p>
        
        </div>
        
        <div class="col-md-6">
            <h2>What is IPMS?</h2>
            <p>International Property Measurement Standards (IPMS): https://ipmsc.org/ The international property measurement standard coalition (IPMSc) was formed on 30 may 2013. The main aim is  to bring the harmonisation of national property measurement standards through the creation and adoption of agreed international standards for the measurement of buildings. In July 2013 the IPMSc selected real estate experts from around the world to from its standards setting committee(ssc). The ssc brings together experts including academics, real estate fund and asset managers, valuers, and specialists in development and construction.</p>
        </div>

        
    </div>
             
                
                
        
    </div>
