<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>What is IPMS? <br>

         	</h2>
         	<p>
         		The international property measurement standard coalition (IPMSc) was formed on 30 may 2013. The main aim is  to bring the harmonisation of national property measurement standards through the creation and adoption of agreed international standards for the measurement of buildings. In July 2013 the IPMSc selected real estate experts from around the world to from its standards setting committee(ssc). The ssc brings together experts including academics, real estate fund and asset managers, valuers, and specialists in development and construction.
         	</p>
         	
         	<center>
         	<div class="col-lg-4">
         		<a href="https://ipmsc.org/", title="IPMS Standards", target="_blank">IPMS Standards</a>	
         	</div>
         	<div class="col-lg-4">
         		<p> Help on tool </p>
         	</div>
         	<div class="col-lg-4">
         		<p> Chat </p>
         	</div>
         	</center> 
		</div>
	</div>
</div>