<hr>
<footer>
  <div class="container">
    

     <div class="row">
            <div class="col-lg-4">
        		<p>Products <br/> Services </br> Terms and Conditions</p>
        	</div>
            <div class="col-lg-4">
            	<p> <center> Get In Touch <br/>No.329, 1st Floor, 7th cross, Shantinagar, <br> Bengaluru - 560 027. Karnataka. INDIA.<br /> 91-80-22270719, icongroup2010@gmail.com </center></p>
            </div>
        
            <div class="col-lg-4">
            	<p><center> Feedback <br/> We would love to hear your feedback! <br/> </center></p> 
            </div>
       
  </div>


</footer>